html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}


.slide {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;


    transform: translateX(0); 
    transition: transform 0.8s ease; 
}


.slide-out-right {
    transform: translateX(100%); 
}

.slide-in-right {
    transform: translateX(0);
}



.Cherry {
    background-color: #f86f85; 
}

.Exotic {
    background-color: #d86df0; 
}

.Apple {
    background-color: #f8bf7a; 
}


.button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: white;
    color: #000000;
    border-radius: 5px;
}



.sliding-images {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    transition: transform 0.8s ease;
    z-index: 1;

}


#slideImage {
    position: absolute;
    width: 500px;
    height: 700px;
    z-index: 1;
} 


#slideImage2 {
    position: absolute;
    width: 912px;
    height: 885px;
   
}

h2 {
    font-size: 20rem;
}